.search {
  max-width: 1280px;
  width: 100%;
  padding: 60px 70px 70px;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid #424242;
}

.search__form {
  width: 100%;
  position: relative;
}

.search__input {
  width: 100%;
  background-color: #2F2F2F;
  border: none;
  border-radius: 40px;
  color: #fff;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  box-sizing: border-box;
  padding: 14px 80px 14px 22px;
}

.search__input::placeholder {
  color: #8b8b8b;
}

.search__error {
  font-weight: 400;
  font-size: 11px;
  line-height: 1.2;
  color: #ee3465;
  position: absolute;
  top: 53px;
  left: 23px;
}

.search__button {
  border: none;
  background-color: #4285f4;
  background-size: 22px 22px;
  box-sizing: border-box;
  width: 58px;
  height: 34px;
  position: absolute;
  top: -12px;
  right: 6px;
  border-radius: 48px;
  transform: translateY(50%);
  transition: all .3s ease;
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
}

.search__button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 800px) {
  .search {
    padding: 73px 30px 61px;
  }
}

@media screen and (max-width: 400px) {
  .search {
    padding: 85px 14px 50px;
  }

  .search__input {
    font-size: 11px;
    line-height: 17px;
  }

  .search__form::before {
    content: none;
  }

  .search__error {
    font-size: 10px;
    top: 52px;
  }
}
